appnope
backcall
bleach
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
#matplotlib==3.0.2
matplotlib
mistune
nbconvert
nbformat
notebook
#numpy==1.15.4
numpy
#pandas==0.23.4
pandas
pandocfilters
parso
pexpect
pickleshare
#pprint -> Pretty print is a standard module you don't need to install it
#pprint==0.1
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
#pyzmq==17.1.2
pyzmq
qtconsole
scikit-learn
#scipy==1.2.0
scipy
Send2Trash
six
#sklearn -> DEPRECATED
scikit-learn
terminado
testpath
#tornado==5.1.1
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
